* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cornflowerblue;
}

.card {
    position: relative;
    width: 350px;
    /* height: 700px; */
    height: 120px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 20px;
    padding: 20px;
    transition: ease-in-out height 0.5s;
}

.card.active {
    height: 450px;
}

.card .content {
    display: flex;
    align-items: center;
}

.card .content .profile {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    overflow: hidden;
}

.card .content .profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .content h2 {
    margin-left: 15px;
    font-size: 1.3rem;
}

.card .content h2 span {
    margin-left: 15px;
    font-weight: 400;
    color: #999;
}

.nav {
    position: relative;
    top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.nav li {
    list-style: none;
    margin: 15px 0;
}

.nav li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #555;
    font-size: 1.8em;
    transition: color 0.25s;
}

.nav li a:hover {
    color: #36b3ff;
}

.nav li a .far {
    font-size: 1.6em;
    margin-right: 10px;
}

.toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #36b3ff;
    border-end-end-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle .far {
    color: #fff;
    font-size: 1.4em;
    transition: transform ease-in-out 0.5s;
}

.card.active .toggle .far {
    transform: rotate(-180deg);
}